/* h1{
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: calibri;
  text-shadow: 2px 2px black;
}
header{
  background-color: #26474e;
padding: 2px;
color: white;
font-size: 40px;
margin-top: -8px;
width: 101%;
margin-left: -8px;
}
.login{
  position:relative;
  width: 30%;
  top:15px;
  padding: 30px;
  height: 350px;
  float: center;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: -20px 0 15px rgba(0,0,0,0.2);
  margin-left: 35%;
}
h2{
  font-family: calibri;
  margin-top: -10px;
  text-align: center;
  font-size: 40px;
}
#selection{
  font-family: calibri;
  cursor: pointer;
  display: block;
  border-radius: 25px;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  border: 2px solid grey;
  margin-bottom: 30px;
}
input{
    font-family: calibri;
  display: block;
  border-radius: 25px;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  border: 2px solid grey;
}

button{
    font-family: calibri;
  border-radius:32px;
  margin-top: 10px;
  font-size: 20px;
  margin-top:15px;
  width: 100%;
  color: white;
  background:  #B71C1C;
  border: 2px solid  #B71C1C;
  transition: 0.5s;
  cursor: pointer;
}
 
.App {
  text-align: center;
  background: rgba(204, 204, 204, 0.5);
}


.App-header {
  background-color: #15324B;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20px;
  margin: 0px;
}

.App-title {
  font-size: 1.8em;
}
*/

body { 
  background-color: transparent;
}

.login-container{
  position:relative;
  width: 30%;
  top:15px;
  padding: 15px;
  height: 300px;
  float: center;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 11px 12px 13px 12px rgba(0,0,0,0.1);
  border-radius: 40px;
  margin-left: 35%;
}


.claim-container{
  position:relative;
  width: 30%;
  top:15px;
  padding: 15px;
  height: 560px;
  float: center;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 11px 12px 13px 12px rgba(0,0,0,0.1);
  border-radius: 40px;
  margin-left: 35%;
}

.p3 {
  font-family: Arial, Helvetica, sans-serif;
}


.btn-login{
   border-radius: 40px;
   background: linear-gradient(to bottom, #33ccff 0%, #000099 100%);
   color: white; 

}


.btn-policy{
  border-radius: 40px;
  background: linear-gradient(to bottom, #ccccff 0%, #cc99ff 100%);
  

}

.btn-docview{
  margin-right: 10px;
}

.register-container{
  position:relative;
  width: 60%;
  top:15px;
  padding: 15px;
  height: 300px;
  float: center;
  box-sizing: border-box;
  
  
  
  margin-left: 35%;
}

.cont-claim {
  position: relative;
  height: 630px;
  background-image: url("./img/extra4.jpg");
  background-size: cover;
  overflow: auto;
  
}

.cont-register {
  position: relative;
  height: 560px;
  background-image: url("./img/registration-img.jpg");
  background-size: cover;
  overflow: auto;
  
}

.cont-hregister {
  position: relative;
  height: 560px;
  background-image: url("./img/extra2.jpg");
  background-size: cover;
  overflow: auto;
  
}



.cont-login {
  position: relative;
  height: 560px;
  /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg'); */
  background-image: url("./img/login-img.jpg") ;
  background-size: cover;
  overflow: auto;
  
}

.cont-status {
  position: relative;
  height: 640px;
  width: 100%;
  background-image: url("./img/extra2.jpg");
  background-size: cover;
  overflow: auto;
  
}

    

    
  
    

    

    












/**
* Template Name: Vlava - v4.7.0
* Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #85b0be;
  text-decoration: none;
}

a:hover {
  color: #a6c6d0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #85b0be;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #a0c1cc;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  background: #052c3f;
  padding: 22px 0;
}
#header.header-transparent {
  background: none;
}
#header.header-scrolled {
  background: rgba(5, 44, 63, 0.8);
  padding: 12px 0;
}
#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #85b0be;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #3b626f;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #85b0be;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 11, 16, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #052c3f;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #85b0be;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #85b0be;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #052c3f;
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #052c3f;
}
.about .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
  color: #4d8090;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}
.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #85b0be;
}
.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  padding-bottom: 40px;
}
.services .icon-box {
  margin-bottom: 40px;
}
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  transition: 0.5s;
  border: 2px solid #85b0be;
}
.services .icon i {
  color: #649aac;
  font-size: 24px;
  line-height: 0;
}
.services .title {
  margin-left: 90px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #052c3f;
  transition: 0.3s;
}
.services .description {
  margin-left: 90px;
  line-height: 24px;
  font-size: 14px;
}
.services .icon-box:hover .icon {
  background: #85b0be;
}
.services .icon-box:hover .icon i {
  color: #fff;
}
.services .icon-box:hover .title a {
  color: #85b0be;
}

/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured img {
  border-radius: 0;
}
.featured .card {
  border: 0;
  text-align: ceneter;
}
.featured .card-body {
  -moz-text-align-last: center;
  text-align-last: center;
}
.featured .card-title a {
  font-weight: 600;
  font-size: 18px;
  color: #052c3f;
}
.featured .btn {
  border-radius: 4px;
  padding: 4px 30px 6px 30px;
  border: 2px solid #85b0be;
  color: #85b0be;
  font-weight: 500;
}
.featured .btn:hover {
  background-color: #85b0be;
  color: #fff;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #85b0be;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #052c3f;
}
.portfolio .portfolio-item .portfolio-info p {
  color: #0d6e9e;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #094d6e;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #85b0be;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}
.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-links a:hover {
  color: #c8dbe1;
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #85b0be;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #85b0be;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 44, 63, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding-top: 0;
}
.faq .faq-item {
  margin-bottom: 40px;
}
.faq .faq-item i {
  color: #85b0be;
  font-size: 30px;
  float: left;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.faq .faq-item h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 10px 40px;
}
.faq .faq-item p {
  margin-left: 40px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  margin-top: 86px;
  padding: 15px 0;
  min-height: 40px;
  background: #f2fafe;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 72px;
  }
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 600;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #094d6e;
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("./img/footer-bg.jpg") top center no-repeat;
  color: #fff;
  font-size: 14px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  
  
}
#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(1, 11, 16, 0.6);
  z-index: 1;
}
#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px 0;
}
#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}
#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}
#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
}
#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px 6px 8px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 0px;
  background: #85b0be;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #6a9fb0;
}
#footer .footer-top .social-links {
  margin-top: 30px;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #85b0be;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #649aac;
  color: #fff;
  text-decoration: none;
}
#footer .footer-bottom {
  z-index: 2;
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
}